@font-face {
    font-family: "myfont";
    /*src: url("./fuentes/fuente.woff");*/
    src: url("./fuentes/fuente.ttf");
}

body { 

    font-size:40px;
    font-family:"myfont";
    /*background-color:rgb(17, 102, 151);*/
    background-image: url("./imagenes/background.png");     
    text-align:center;
}
.contenedor{
    
    /*background:red;*/
    width:420px;    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.casilla{
    /*color:blue;*/
    color:rgb(192, 192, 214); 
    margin:2px;
    padding:0px;

    text-align:center;
    display:inline-block;
    background-color:rgba(42, 51, 134, 0);
    width:2cm;
    height:2cm;
    border:4px solid rgba(255, 0, 0, 0);
    border-radius: 14px 14px 14px 14px;
    line-height: 80px; 
}
.casilla:hover{
    /*background-color:rgb(39, 115, 202);*/
    
    
}
.intentos{
    padding-top:0px;
    width:9cm;
    margin-top:-25px;
    margin-left:40px;
    /*margin:auto;*/
    font-size:22px;
    color:#064732;
   /* background-color:rgb(32, 76, 102);*/
    border-radius: 14px 14px 14px 14px;
}
.nIntentos{
    font-size:30px;
    color:#064732;
}
.pokemon{
    /*ESTILOS POKEMON;*/
    color:rgb(192, 192, 214); 
    margin:2px;
    
    text-align:center;
    display:inline-block;
   
    width:2cm;
    height:2cm;
    border:4px solid rgba(0, 0, 0, 0);
    border-radius: 14px 14px 14px 14px;
    line-height: 80px; 
}
img{
    width:2cm;
    height:2cm;
}
.pokeball{
    width:2cm;
    height:2cm;
}

.pokeball:hover{
    filter:sepia();
    
}

#casillas,#pokemons{
    margin-top:-30px;
}



.titulo{     
    font-size:37px;
    margin-bottom:30px;
    color:#064732;
    
    
}

.ocultar{    
    visibility:hidden;
}
.mostrar{
    visibility:visible;
}


.botonReiniciar{
    font-family:"myfont";
    color:rgb(192, 192, 214); 
    margin:2px;
    text-align:center;
    display:inline-block;
    background-color:rgb(13, 95, 77);
    width:7cm;
    height:1cm;
    border:4px solid rgba(2, 53, 13, 0);
    border-radius: 14px 14px 14px 14px;
    line-height: 32px; 
    font-size:20px;
    margin-top:11px;
    
}

.botonReiniciar:hover{
   
    background-color:rgb(16, 138, 117);
    color:black;
}


.ganador{
    font-size:25px;
    color:white;
    border:5px solid rgb(11, 56, 3);
    position:absolute;
    z-index:1;
    margin-top:-8.5cm;
    margin-left:1.65cm;
    background-color:rgb(19, 116, 59);
    width:290px;
    height:50px;
    padding-top:20px;
    border-radius: 16px 16px 16px 16px;   

  
}


.ocultarGanador{
    display:none;
}

.mostrarGanador{
    display:auto;
}

.pika{
    height:78%;
    width:18%;
    /*width:100px;*/
}

/*A PARTIR DE AQUI APARECE EL MENSAJE GANADOR ANIMADO - Este fragmento lo copie de inernet*/


::selection {
  background: transparent;
}

/* JUMP */
h1 {
  font-size:20px;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  display: block;
  text-align: center;
}

h1 span {
  font-size:20px;
  position: relative;
  top: -120px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

h1 span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -20px; 
  }
}
