@font-face {
    font-family: "myfont";
    /*src: url("./fuentes/fuente.woff");*/
    src: url("./fuentes/fuente.ttf");
}


body{
    font-size:16px;
    font-family: myFont;
    background-color:#808080;
}   

label{
    width: 150px;
    float:left;
    margin-bottom:5px;
}
input,select {
    width:150px;
    float:left;
    margin-bottom:5px;
}
fieldset{
    color:white;
    background:#383838;
    width:450px;
    border: thick solid rgba(102, 5, 199, 0);
    border-radius: 12px 12px 12px 12px;
}
label{
    /*background-color:red;*/
    width:200px;
}
legend{
    border-radius: 31px 31px 31px 31px;
    border: thick solid rgba(51, 0, 102, 0);

    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-color: #FFF;
}
#mensajes{
    float: left;
    background:#33FF33;
    width: 325px;
}
#errores{
    padding-left:5px;
    float: left;
    background:#FF6633;
    width: 325px;
    border-radius: 10px 10px 10px 10px;
}
#intentos{
    padding-left:5px;
    color:black;
    float: left;
    background:#CCFF33;
    width: 325px;
    border-radius: 10px 10px 10px 10px;
}
/*
.error{
    border: solid 2px #FF0000;
}*/
.contenedor{
    
    /*background:red;*/
    width:420px;    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#provincia{
    width:180px;
}


/*-----------CAMPOS TEXTO---------*/
input[type=text], select{
    font-family:myFont; 
    /*border:1px solid rgba(0, 0, 0, 0);*/
    /*background-color:white;*/
    height: 20px;
    border-radius: 10px 10px 10px 10px;
}
/*La siguiente clase se utiliza en el inicio de la pagina, todos los input estan "bien"*/
.bien{
    font-family:myFont; 
    border:1px solid rgba(0, 0, 0, 0);
    background-color:white;
    height: 20px;
    border-radius: 10px 10px 10px 10px;

}
/*ERROR - Clase que se usara cuando un input este mal*/
.error{
    font-family:myFont;    
    border:1px solid rgba(0, 0, 0, 0);
    background-color:rgb(216, 108, 108);
    height: 20px;
    border-radius: 10px 10px 10px 10px;
    
    border:2px solid red;
}



/*-----------BOTONES---------------*/
.boton1{
    margin-left:1cm;
    margin-right:10px;
    margin-top:20px
}
.boton2{
    margin-right:10px;
    margin-top:20px
}

input[type=submit],input[type=reset] {
    font-size:16px;
    font-family: myFont;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }  
  input[type=submit]:hover,input[type=reset]:hover {
    background-color: #45a049;
  }

  .boton2:hover, .boton1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }



  /*-----------------------PAGINA CORRECTA----------------------*/
  .contenedorPaginaCorrecta{  /*background:red;*/
    width:420px;    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color:#45a049;
    width:13cm;
    height: 5.5cm;
    background-color:#383838;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
  }



  .contenedorJSON{  /*background:red;*/
    /*width:420px; */   
    position: absolute;
    left: 50%;
    top: 26%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /*color:#45a049;*/
    color:rgb(204, 204, 204);
    width:19cm;
    height: 2cm;
    background-color:#383838;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    padding-top:13px;
    padding-left:50px;
  }

    .contenedorTituloJSON{
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        font-size:30px;
    }


  .boton3{
     
    margin-left:2.5cm;
    margin-right:10px;
    margin-top:20px;
    width:8cm;
  }

  #json{
      text-align:left;
  }