        body{
            /*height:100cm;*/
            background-color:grey;
        }

        .TituloPagina{
            display:flex;
            background-color:black;
            color:white;
            font-size:3em;
            padding:30px;
        }

        .TituloPagina a{
            margin-left:20%;
            border-radius:20px;
            padding:30px;
            
        }

        .ejercicios{
            font-weight:bold;
            font-size:13px;
            display:block;
            background-color:rgb(173, 173, 173);
            color:black;
            padding:15px;
     
        }

        a,p{  padding:7px;
            display:block;
            margin-right:20px;
            color:black;
            
            text-decoration:none;
        }
        a:hover{
            color:grey;
            text-decoration:none;

        }

        .piePaginaBitBucket {
            padding:10px;
            text-align: center;
            /*bottom:0px;*/            
            position:sticky;
            text-align:left;
            font-size:10px;
            /*opacity: 0.5;*/
            color:white;
            /*background-color:blue;*/
            position:fixed;
            width:100%;
            bottom:0px;
            padding:10px;
            display:block;
        }
        .asignatura{    
            color:white;
            background-color:rgb(56, 56, 56);    
            padding:0.5cm;
            font-size:14px;
        }
        .avaliacion{    
            color:white;
            background-color:rgb(93, 93, 93);    
            padding:0.3cm;
            font-size:10px;
        }