<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Enlazamos estilos de bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Enlazamos los iconos de font-awesome-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Intro a Vue</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="jumbotron">Gestion de pagos mensuales con Vue</h1>

        <!--EMPEZAMOS CON VUE:-->
        <div id="app">
          <table class="table table-stripped">
            <thead>
              <tr>
                  <th style="width:40px">Borrar</th>
                  <th>Descripción</th>
                  <th style="width:200px">Precio</th>
                  <th style="width:200px">¿Pagado?</th>                
              </tr>              
            </thead>
            <tbody>
              <!--TR añadir nuevo registro---------------------->
                <tr>
                  <td></td>
                  <td>
                      <input type="text" class="form-control" v-model="newEntry.name">
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="newEntry.amount">
                  </td>
                  <td>
                    <button type="button" class="btn btn-success btn-block" @click="add()">Agregar</button>
                  </td>
                </tr>
              <!------------------------------------------------>
              

              <!--TR con mensaje de NO se encuentran registros-->
                <tr v-if="items.length===0">
                  <td colspan="4" class="text-center">
                    No se encuentran registros.
                  </td>
                </tr>
              <!------------------------------------------------>


                <tr v-for="item,index in items">
                  <td>
                    <button v-on:click="remove(index)" type="button" class="btn btn-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>


                  <td>{{item.name}}</td>
                  <td>{{item.amount.toFixed(2)}}</td>
                  <!--{{item.paid}}-->
                  <td class="text-left" v-bind:title="item.paid ? 'SI' : 'NO'">
                    <button v-on:click="changeToPaid(item)" class="btn" v-bind:class="{'btn-success':item.paid,'btn-danger':!item.paid}">
                      <i v-if="item.paid"class="fa fa-check" aria-hidden="true"></i>
                      <i v-else class="fa fa-times" aria-hidden="true"></i>
                    </button>
                  </td>                  
                </tr>

            </tbody>
            <!--AQUI CALCULAREMOS LOS TOTALES, PAGADOS Y POR PAGAR-->
            <tfoot>
              <tr>
                <td></td>
                <td class="text-right">Por Pagar:</td>
                <td class="text-left">{{totalAmount(0)}}</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">Pagado:</td>
                <td class="text-left">{{totalAmount(1)}}</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">Total:</td>
                <td class="text-left">{{totalAmount(2)}}</td>
                <td></td>
              </tr>
            </tfoot>



          </table>

        </div>


      </div>
    </div>

  </div>
    
    <!--Enlazamos las librerías-->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--------------------------->

    <script>
        var app = new Vue({
          el:"#app",
          data:{
            newEntry:{
              name:'',
              amount:'',
            },
            items:[//Con los siguientes datos tendremos que hacer una tabla
                {name:"Servicios",amount:20,paid:false},
                {name:"PS4",amount:250,paid:false},
                {name:"Bici",amount:1200,paid:false},
                {name:"Comida",amount:100,paid:false},                
            ],
          },
          methods:{
              remove(i){//Esta funcion se utiliza en el boton de borrar
                //console.log(i);
                //Eliminamos el elemento de la lista:
                this.items.splice(i,1);
              },
              add: function(){
                if(this.newEntry.name!=""){
                  this.items.push({ 
                      name: this.newEntry.name,
                      amount: parseFloat(this.newEntry.amount),
                      paid:false,
                  });
                }else{
                  this.newEntry.name="";
                  this.newEntry.amount=0;
                }
              },
              totalAmount: function(t){
                var total=this.items.reduce(function(a,b){
                    switch(t){
                        case 0: return a+(!b.paid?b.amount:0);
                        case 1: return a+(b.paid?b.amount:0);
                        case 2: return a+b.amount;
                    }
                },0);
                return total.toFixed(2);
              },
              changeToPaid: function(item){
                item.paid=!(item.paid);
              }
          },
          
        });

    </script>

</body>
</html>