/** {
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}
*/
body{
  background:#6283b4;
  padding:75px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
}

h1{
  color:#c0c0c0;
  font-weight:100;
}

.btn{
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  margin-bottom: 200px;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px;
  color:#1b1b1b;
}

.footer{
  font-size:10px;
  color:#fff;
  clear:both;
  display:block;
  letter-spacing:5px;
  border:1px solid #fff;
  padding:5px;
  text-decoration:none;
  width:210px;
  margin:auto;
  margin-top:200px;
}
/*
form {
  padding-top: 40px;
  margin: 0 auto;
  width: 300px;
}*/
/*
input,label
{
 display:block;
 text-align: left;
 margin-bottom: 10px;
}
*/

form{
margin-top:1cm;
}


#mensajeflash{
  width:500px;
  height:30px;
  background-color: #9fff83;
  margin: auto;
  margin-top: 50px;
}

#listado{
  
 width:550px;
 background-color: #9fff83;
 margin: auto;
 margin-top: 50px;
}

table {
 width:100%;
 border:2px solid black;
 border-collapse:collapse;
}

td, th {
 padding:0.4cm;
 }

#mostrar{
 margin-top:2cm;
}


.error{
  
  font-size:17px;
  background-color:#CC3333;
  width:9cm;
  margin:auto;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}
.correcto{
  background-color:#00CCCC;
}

a{
  text-decoration:none;
}

th{
  background-color:#679958;
}

table{
  
  background-color:#79cc5f;
  margin:0 auto;
}

.btneliminar{
  padding-left:10px;
  padding-right:7px;
  width:3cm;
  color:white;
  background-color:rgb(107, 23, 23);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.btneliminar:hover{
  background-color:rgb(195, 67, 88);
  cursor:pointer;
}

.btnmodificar{  
  padding-left:5px;
  padding-right:5px;
  width:2cm;
  color:white;
  background-color:rgb(23, 73, 107);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;

}
.btnmodificar:hover{
  background-color:rgb(82, 109, 231);
  cursor:pointer;
}

.btnmodificarfoto{
  padding-left:10px;
  padding-right:10px;
  width:3cm;
  color:white;
  background-color:rgb(23, 107, 82);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;

}
.btnmodificarfoto:hover{
  background-color:rgb(33, 141, 109);
  cursor:pointer;
}

.btnapuntarse{
  padding-left:10px;
  padding-right:10px;
  width:3cm;
  color:white;
  background-color:rgb(159, 101, 235);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.btnapuntarse:hover{
  background-color:rgb(97, 55, 151);
  cursor:pointer;
}

.btndesapuntarse{
  padding-left:10px;
  padding-right:10px;
  width:3cm;
  color:white;
  background-color:rgb(184, 107, 57);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}
.btndesapuntarse:hover{
  background-color:rgb(143, 79, 36);
  cursor:pointer;
}






.bien{
  background:rgb(96, 167, 96);
}
.mal{
  background:rgb(197, 99, 99);
}
/*
div.zonaconborde {  
  margin-top:5px;
  margin-left:165px;
  width:153px;
  background-color: #FFFFFF; 
  text-align: left; 
  border: 1px solid #000000;
  cursor:pointer;
}*/

div.zonaconborde {	
  position: absolute;
  top: 7.3cm;
  left: 0;
  right: 0;
  
  margin: auto;
  width:153px;
  background-color: #FFFFFF; 
  text-align: left; 
  border: 1px solid #000000;
  cursor:pointer;
}

.mensajeprueba{
  position: absolute;
  left: 0;
  right: 0;
  top:270px;
}






.enlace_sugerencia_over {
  background-color: #3366CC;
  
}
li{
  list-style: none;
}

#carrera {
  font-size: 12px;
  font-style: italic;
}

img{
  border-radius:50%;
}