<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE</title>
    <style>
        table{
            
        }
    </style>
</head>
<body>
    <h1>Introduccion a Vue</h1>
    <div id="app">
        <p>{{ message }} el numero es <b>{{ num }}</b></p>


        <!--Input de tipo texto que enlaza el input con la variable {{message}}-->
        <input type="text" v-model='message'/>

        <!--Probando el v-if-->
        <h3>Probando el v-if:</h3>
        <p v-if='mostrar'>Ahora me ves!!</p> 

        <!--Probando el v-if y metodos-->        
        <p v-if="num <  12">Menor de 12</p>
        <p v-if="num >= 12 && num < 20">Mayor de 12 y menor de 20</p>
        <p v-if="num >= 20">Mayor a 20</p>

        <!--Probando el v-for-->
        <h3>Probando el v-for:</h3>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>

        <table border=1>
            <tbody>
                <tr v-for="todo in todos" v-bind:key="todo.id"><!--:key es igual a  v-bind:key (Viene siendo como un id, es recomendable ponerlo)-->
                    <td>{{todo.id}}</td>
                    <td>{{todo.text}}</td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li v-for="n in 10">{{ n }}</li>
        </ul>

          <!--Probando el v-bind-->
          <h3>Probando el v-bind:title :</h3>
        <span v-bind:title="message1"> //El atributo ‘tittle’ muestra una ‘tooltip’
            Al poner el puntero sobre mí.
            Sale un mensaje (tooltip text)
        </span>
        <br><br>

        <!--Probando el v-model-->
        <h3>Probando el v-model:</h3>

        <label><input type="radio" v-model="value"value="uno">Uno</label>
        <label><input type="radio" v-model="value"value="dos">Dos</label>
        <label><input type="radio" v-model="value"value="tres">Tres</label>
        <p>El valor es : {{ value }}</p>

        <!--Probando el v-on:click para capturar eventos (Tambien se usa @click que es lo mismo)-->
        <h3>Probando el v-on:click para capturar eventos:</h3>
        <p>{{texto}}</p>
        <button v-on:click="reverseTexto">Mensaje Inverso</button>
    </div>




    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data:{
                message: "Hola Vue!!", //Desde consola: app.message = "PRUEBA"
                num:0,
                mostrar: true, //Desde consola: app.mostrar = true
                //Probando el v-for:
                todos:[
                    {id:0,text:"Aprender JavaScript"},
                    {id:1,text:"Hacer Deporte"},
                    {id:2,text:"Dormir Mucho"},
                    {id:3,text:"Comer Bien"},
                    {id:4,text:"Pasarlo Genial"}
                ],
                message1: 'Fecha actual: ' + new Date().toLocaleString(),
                value:"dos",
                texto:"Texto en Vue.js"
            },
            methods:{
                //testFunction(){}//TAMBIEN FUNCIONA ASI
                testFunction: function(){
                    let n=0;
                    setInterval(function (){
                        app.num = n++;
                    },1000);
                },

                reverseTexto: function(){
                    this.texto = this.texto.split('').reverse().join("")
                }
            },
            mounted(){
                this.testFunction();
            }

        });
    
    
    </script>

</body>
</html>