/*FUENTES*/
/*"Wedny One" -> Usada para el logo de la web*/
@import url('https://fonts.googleapis.com/css?family=Wendy+One&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');*//*font-family: 'Baloo Da 2', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');/*font-family: 'Zilla Slab', serif;*/
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');/*font-family: 'Assistant', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');/*font-family: 'Crete Round', serif;*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

html{
    /*height: 100%;*//*Para que el footer con position absolute se mantenga abajo*/
   height: 29cm;   
}

/*BODY*/
body{
    position:relative;/*Para que el footer con position absolute se mantenga abajo*/
    /*background-color:#edf2f5;
    /*background: linear-gradient(to right, rgb(190, 190, 190), #edf2f5);*/
    min-height: 100%;/*Para que el footer con position absolute se mantenga abajo*/    
   
    font-family: 'Baloo Thambi 2';

    /*
    background: linear-gradient(90deg, #dcc6ff 20px, transparent 1%) center, 
                linear-gradient(#dcc6ff 20px, transparent 1%) center, #a799cc;
    background-size: 22px 22px;*/

    /*
    background: linear-gradient( 90deg,
      rgba(147, 102, 199, 0.7) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient( 90deg,
      rgba(32, 48, 120, 0.3) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient( 90deg,
      rgba(230, 14, 201, 0.3) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient( 90deg,
      rgba(23, 76, 79, .1) 50%, rgba(255,255,255, 0) 50%);
    background-size: 7em 7em, 5em 5em, 3em 3em, 1em 1em;
    background-color: rgb(146, 144, 209);
    */

    /*ESTE ESTA BIEN
 background: 
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #232323;
    */
  
    /*
    background-color: #bab6e8;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236688e0' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    */
   

    /*Generado con ColorSpace*/
    /*background-image: linear-gradient(to top, #28284a, #3b3f64, #4f5780, #63709c, #788bb9, #869ac7, #94aad5, #a2bae3, #acc1e4, #b7c9e5, #c1d0e6, #ccd7e7);*/
    background-image: linear-gradient(to right top, #28284a, #3b3f64, #4f5780, #63709c, #788bb9, #869ac7, #94aad5, #a2bae3, #acc1e4, #b7c9e5, #c1d0e6, #ccd7e7);



}

/*BARRA DE NAVEGACION*/
/*Buscador y animacion en lupa del buscador*/
#buscadorPelicula{
    font-size:15px;
    height: 1.01cm;
    width:7cm;    
}

@keyframes moverlupa{
    from{transform: rotate(0deg);}
    to{transform: rotate(90deg);}
}
#buscador:hover i{
    animation-name:moverlupa;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
#buscador:focus-within i{
    animation-name:moverlupa;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

/*barra de navegacion superior*/
.navbar {
	border: 0;
	border-radius: 0;
    /*background: linear-gradient(to right, #8f1289, #f62a8d);*/
    background: linear-gradient(to right,#445de9, #92c5e7);
    /*background: linear-gradient(to top,#687cf3, #d8257b);*/
    
}
#marca{     
    letter-spacing: 2px;
    font-family: "Wendy One";
    font-size:30px;
    /*font-weight: bold;*/
    /*color:rgb(9, 255, 0);*/
    color:white;
    padding:0px;
    /*text-shadow:black 0.1em 0.1em 0.2em;*/
    text-shadow: 3px 3px 5px black;
}
#divMarca{
    text-align: right;
   /*width:10cm;*/
   width:20%;
    /*background-color:red;*/
}
.letraPequena{
    font-size:26px;
    color:rgb(255, 255, 255);
}


/*botones de inicio y de registro*/
#opciones{
    /*width:10cm;*/
    width:26%;
    /*background-color:red;*/
    font-weight: bold;
}


#iniciarsesion{
    /*text-shadow:black 0.1em 0.1em 0.2em;*/
    font-size:18px;
}
#registrarse{
    /*text-shadow:black 0.1em 0.1em 0.2em;*/
    font-size:18px;
}
#irainicio{
    /*text-shadow:black 0.1em 0.1em 0.2em;*/
    font-size:18px;
}
#iniciarsesion:hover{
    cursor: pointer;    
}
#registrarse:hover{
    cursor: pointer;
}
#irainicio:hover{
    cursor:pointer;
}




/*BARRA LINKS*/
#barraLinks{
    color:white;
    /*background: #946291; */
    /*background: linear-gradient(to left,#687cf3, #f62a8d);*/
    background: #4165c8;
    border-top:2px solid #1a1b5a;     
    padding:1px;  
    height: 0.8cm;	
}

/*Divs dentro de la barra*/
#barraLinks div{
  
    padding:4px;
    padding-left:15%;
    margin-left:5%;
    font-size:10px;
    
    /*HACER VISIBLE EL FONDO DE LOS ENLACES*/
    /*background-color:red;
    border:1px solid black;*/
}
/*enlaces*/
#barraLinks div a{
    color:white;
    text-decoration: none;
}

/*CONTENIDO DE LAS PAGINAS

FORMULARIO LOGIN*/
#formulariologin{
    margin-top:1cm;  
    
}
/*FORMULARIOREGISTRARSE*/
#formularioregistrarse{
    margin-top:1cm;    
    
}
/*INICIO*/
#contenidoPublico{
    margin-top:1cm;       
        
}

#divRegistro,#divLogin,#divPublico{
    width:90%;
    height: 23cm;
    border:1px solid grey;
    background-color:rgb(245, 245, 245);
}


/*FOOTER*/
footer{
    
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    font-size:11px;
    
}

/*Para que los enlaces no aparezcan con puntos al hacer click (Mozilla FireFox)*/
:focus{outline:none;}
::-moz-focus-inner{border:0;}