#notificaciones{
	height:100px;
	top:50px;
}

.mensaje{
	margin-bottom:5px;
	white-space: normal;
	padding: 5px;
	width:100%;
}

#notificaciones{
	display:none;
}

#textoaviso{
	display:none;
}

.blancos{
	color: white;
}