@font-face {
  font-family: myFirstFont;
  /*src: url(font-face/f06c4b1045d965db3246949e09ee9984.ttf);*/
  src: url(fuentes/fuente.otf);
}

body {
  font-size:400%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:myFirstFont;
  /*font-family:"monospace";*/
  /*font-weight:bold;*/
  /*background-color:grey;*/
  background-image:url("./imagenes/background.png");
}


.contenedor { 

  display: flex;
  /*background: grey;*/
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-width: 400px;
  min-height: 400px;
  border-radius: 5%;
  margin: auto;
}

table {
  width:15cm;
  border-collapse: collapse;
  margin: auto;
  table-layout: fixed;
}

td {
  /*background-color: grey;*/
  /*border: 2px solid grey;*/
  font-size: 150px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 15%;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#jugador {
  padding: 1rem;
  text-align: center;
}

body {
  display: flex;
  /*background: grey;*/
  /*center center/cover;*/
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image:url("./imagenes/background.png");
}

