body{
    background-color:rgb(157, 184, 190);
}

#formconcello{
    margin:1cm;
}

li{
    list-style: none;
    background-color:white;
    padding-top:0.2cm;
    padding-left:20px;
    
}

div.zonaconborde {
    /*margin-top:5px;
    margin-left:165px;
    width:400px;
    background-color: #FFFFFF; 
    text-align: left; 
    border: 1px solid #000000;
    cursor:pointer;*/

    position: absolute;
    top: 2.3cm;
    left:6cm;
    
    z-index:1;
    margin: auto;
    width:300px;
    background-color: #FFFFFF; 
    text-align: left; 
    border: 1px solid #000000;
    cursor:pointer;
}

#mensaje{
    text-align:center;   
    margin: 0 auto;
  
    border-radius: 24px;
}

.enlace_sugerencia_over {
    background-color: rgb(69, 119, 219);
    color:white;
    
}

.error{
    position:absolute;
    right:0;
    left:6cm;
    background-color:rgb(223, 101, 101);
    width:8cm;
    border:2px solid black;
    border-radius: 5px;
    padding:10px;
}

#mapa {
    position:relative;
    z-index:0;
    margin:0 auto; 
    width:700px ; 
    height: 600px;
    margin-top:2cm;
    margin-top:1cm;
    margin-bottom:1cm;
    border-radius:4%;
    /*border: 2px solid black;*/
}

.bordes{
  border: 12px outset rgb(22, 58, 141);
}

.titulo{
    margin:1cm;
}

#meteogalicia{
    border:3px solid rgb(67, 82, 163);
    background-color:white;
    margin: 0 auto;
    width:1400px;
    height:840px;
    border-radius: 24px;    
}


object{    
    width:1400px;
    height:760px;
    /*zoom: 9;*/
    transform: scale(0.9);
}
#tittiempo{
    color:rgb(67, 82, 163);
    padding:20px;
    padding-bottom:0px;
}

.formdates{
    padding-left:1cm;
    
}