<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculadora</title>
    <style>
        body{
            background-color:rgb(164, 241, 161);
        }
        .fondo{
            background-color:rgb(255, 255, 255);
            width:10cm;
            height:18cm;
            border-radius:25px;
            margin-left:2cm;
            padding:2cm;
        }
        #resultado{
            background-color:rgb(221, 221, 221);
            /*margin-left:1cm;
            margin-top:1cm;*/
            width:90%;
            height:2cm;  
            border-radius:25px;
            text-align:right;
            font-size:50px;
            padding-right:1cm;
            padding-top:0.4cm;
            
        }
        
        table{
            margin-top:1cm;
            margin-left:-0.4cm;
        }

        button{
            width:2cm;
            height:2cm;
            font-size:30px;
            margin:0.3cm;
            background-color:rgb(177, 177, 177);
            border:0px solid black;
            border-radius:7px;
            border:0;
        }
        button:hover{
            cursor:pointer;
        }
        #app{
            color:rgb(68, 68, 68);
            font-size:25px;
            margin-top:20px;
            border-bottom:1px solid black;
            padding-bottom:10px;
        }
        
        #reset{
            width:7.4cm;
        }
        :focus {outline:none;}
        ::-moz-focus-inner {border:0;}


    
    </style>

</head>
<body>
    <div class="fondo">
        
        <div id="resultado"></div>

        <div id="app">{{numero}}</div>        
       
        <table class="calculadora">
   
            <tr>
                <td colspan="3"><button id="reset">C</button></td>                 
                <td><button >/</button></td>           
                
            </tr>
            <tr>
                <td><button>7</button></td>
                <td><button>8</button></td>
                <td><button>9</button></td>
                <td><button>+</button></td>
            </tr>
            <tr>
                <td><button>4</button></td>
                <td><button>5</button></td>
                <td><button>6</button></td>
                <td><button>-</button></td>             
            </tr>
            <tr>
                <td><button>1</button></td>
                <td><button>2</button></td>
                <td><button>3</button></td>
                <td><button>*</button></td>
            </tr>
            <tr>
                <td><button>=</button></td>
                <td><button>0</button></td>           
                <td><button>/</button></td>
                <td><button>.</button</td>
            </tr>

        </table>
       
    </div>






    
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--IMPORTAR LIBRERIA-->
    <script src="jquery.js"></script>


   <script>
   var app = new Vue({
       el:"#app",       
       data:{
           numero:0,
           
       },
       methods:{
           introducirNumero: function(){
                var num = "";
            
                $("button").on("click",function(){

                    var valor = this.innerHTML;
                    var arrayNumeros = []
                    var resultado="";
                    var ultimo = app.numero[app.numero.length-1];

                  


                 




                    if(valor!="="){     
                      

                        num = num + valor;
                        //console.log(this.innerHTML);

                        //console.log(num);
                        app.numero = num;
                        if(resultado>10){
                            resultado = "ERROR";
                        }
                    }if(valor=="="){
                        //app.numero=eval(app.numero);
                        resultado = eval(app.numero);
                        resultado = resultado.toFixed(5);
                        $("#resultado").text(resultado);

                        valor=0;

                    }if(valor=="C"){
                        app.numero=0;
                        num="";
                        resultado="";
                        $("#resultado").text(resultado);
                    }

                });

           }
       },
       mounted(){
           this.introducirNumero()
       }



   })


</script>


</body>
</html>