@font-face {
  font-family: "myfont";
  /*src: url("./fuentes/fuente.woff");*/
  src: url("./fuentes/bloodlust.ttf");
}
@font-face {
  font-family: "western";
  /*src: url("./fuentes/fuente.woff");*/
  src: url("./fuentes/western.ttf");
}
body{
    background-image: url("./imagenes/background.png");
    font-family:western;
    background-color:grey;
}

.contenedor{
    
    /*background:red;*/
    width:420px;    
    position: absolute;
    left: 55%;
    top: 30%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/*DISPARO*/
.contenedorDisparo{
    
  /*background:red;*/
  width:420px;    
  position: absolute;
  left: 57%;
  top: 18.4%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/*BOTON*/
.contenedorBoton{     
  /*background:red;*/
  width:420px;    
  position: absolute;
  left: 54%;
  top: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}


/*CONTADOR*/
.contenedorContador{     
  /*
  text-align: center;
  
  font-size:24px;
  
  width:140px;    
  position: absolute;
  
  left:37.9%;
  top: 43%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
*/
width:420px;    
position: absolute;
left: 54.9%;
top: 43%;
font-size:22px;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);


}

/*MENSAJE MUERTE*/
/*CONTADOR*/
.contenedorMuerto{     
  /*background:red;*/
  font-size:24px;
  /*text-align:center;*/
  width:420px;    
  position: absolute;
  /*left: 37%;*/
  left:54%;
  top: 65.5%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}






@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 0.3s linear infinite;
    -moz-animation: rotating 0.3s linear infinite;
    -ms-animation: rotating 0.3s linear infinite;
    -o-animation: rotating 0.3s linear infinite;
    animation: rotating 0.3s linear infinite;
  }
  
  
  .rotating1{  /*ESTA ES LA QUE TIENE LA BALA EN LA RECAMARA*/
      transform: rotate(30deg); 
      -webkit-transform: rotate(30deg); 
      -moz-transform: rotate(30deg);
      -o-transform: rotate(30deg);
  }
  .rotating2{ 
    transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .rotating3{
    transform: rotate(150deg); 
    -webkit-transform: rotate(150deg); 
    -moz-transform: rotate(150deg);
    -o-transform: rotate(150deg);
  }
  .rotating4{
    transform: rotate(210deg); 
    -webkit-transform: rotate(210deg); 
    -moz-transform: rotate(210deg);
    -o-transform: rotate(210deg);
  }
  .rotating5{
    transform: rotate(270deg); 
    -webkit-transform: rotate(270deg); 
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
  }
  .rotating6{
    transform: rotate(330deg); 
    -webkit-transform: rotate(330deg); 
    -moz-transform: rotate(330deg);
    -o-transform: rotate(330deg);
  }

  body{
    background-color:grey;
  }
  
  .revolver{
      position:absolute;
      width:370px;
      margin-left:-260px;
      margin-top:-110px;
  }
  .tambor{
    width:150px; 
    margin-left:120px;
  }




.button {
    border-radius: 11px 11px 11px 11px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(121, 29, 29);    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    font-family:western;
    width:3cm;
}



.oculto{
  display:none;
}

.visible{
  display:auto;
}

#mensajeMuerto {
  font-family:"myfont";
  font-size:95px;
  color:rgb(175, 0, 0);
}

.mensaje{  
  letter-spacing: 0.36px;
  font-family:western;
  color:rgb(100, 14, 14);
  font-size:26px;
  line-height: -26em;
}

.bordeado { 
  z-index:1;
  color: white; 
  font-size: 40px; 
  text-shadow: -1px 1px 0 #000, 
                1px 1px 0 #000, 
               1px -1px 0 #000, 
              -1px -1px 0 #000; 
} 