@font-face{
    font-family: Personalizada;
    src: url("fonts/font.otf") format("opentype");
}
body{
    /*background-color:rgb(139, 216, 171);*/
    background-color:#e1e2e1;
    
}
button{
    font-family:Personalizada;
}

#textoCabecera{
    font-family:Personalizada;
    font-size:50px;
}
.letra{
    font-family:Personalizada;
}

th{
    font-family:Personalizada;
    font-size:22px;
    letter-spacing: 1.5px;
}
td{
    font-family:'Courier New', Courier, monospace;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-size:15px;    
    
}

th,td{
    text-align:right;
    
}

/*LO SIGUIENTE ES PARA QUE LOS CAMPOS INPUT NO TENGAN BARRAS DE DESPLAZAMIENTO*/
::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

[type=number] {
    -moz-appearance:textfield; /* Firefox */
}