::selection{background-color:none; color:inherit;}

@font-face {
    font-family: myFirstFont;
    src: url(fuentes/orange.otf);
  }
button{
  font-family:myFirstFont;
}

body{
  background-color: rgb(185, 83, 0); 
  font-family:myFirstFont;
}
/*
#teclado1 #teclado2 #teclado3{
  width:800px; height: 220px;
  background-color: #111;
  margin: 0px auto;
  border-radius: 9px;
  padding: 30px;
  color: #eee;
}*/
#centrado{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#teclado{
  margin:auto;
  width:10cm;
    background-color:black;
    height:170px;
    text-align:center;
    border-radius: 39px 39px 39px 39px;
}

#teclado1,#teclado2,#teclado3{  
    
    display: inline-block;
    color:white;
    padding-top:15px;
   
}

#botones{width:650px; height:260px; float:left;}
img{
  height:4.5cm;
}
#imagen{
  margin: auto;
  width: 60%;
  /*border: 3px solid #73AD21;*/
  padding: 10px;
}

.visible{
  visibility:visible;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 40%;*/ 
 
}

.visibleRestart{
  display:block;
}
.ocultoRestart{
  display:none;
}

.img1{
  visibility:hidden; 
}

.endgame{
  color:rgb(144, 11, 11);
}


.titulo{
    width:7.5cm;
    background-color:#CCC;
    color: #222;
    font-weight:300;
    font-style: oblique;
    font-size:30px;
    line-height:40px;
    text-align:center;
    margin: -20px auto 10px auto;
    border-radius:40px;
  }

  .intentos{
    width:4.5cm;
    background-color:#CCC;
    color: #222;
    font-weight:300;
    font-style: oblique;
    font-size:30px;
    line-height:40px;
    text-align:center;
    margin: -20px auto 10px auto;
    border-radius:40px;
  }


  .intentosRestart{
    width:8cm;
    background-color:#CCC;
    color: #222;
    font-weight:300;
    font-style: oblique;
    font-size:30px;
    line-height:40px;
    text-align:center;
    margin: -20px auto 10px auto;
    border-radius:40px;
  }


.nIntentosOcultar{
  display:none;
}


.logo{
  width:9cm;
  background-color:#CCC;
  color: #222;
  font-weight:300;
  font-style: oblique;
  font-size:30px;
  line-height:40px;
  text-align:center;
  margin: -20px auto 10px auto;
  border-radius:40px;
}

.key{
  width: 30px; height:30px;
  display:block;
  background-color:#333;
  text-align: left;
  padding-left: 8px;
  line-height: 29px;
  border-radius:2px;
  float:left; margin-left: 2px;
  margin-bottom:2px;
  cursor: pointer;
  transition: box-shadow 0.7s ease;
}


.letter{width:20px;}

.sec-func .key{width: 32px; font-size:10px; text-align:left; line-height:40px; float:left;}

.sec-func div.dual{line-height:20px;}

.arrows .key{text-align: center; padding-left: 7px; margin-left:2px;}

.hidden{visibility: hidden;}

.key:hover{box-shadow:0px 0px 10px white; z-index:1000;color:white;}